<a href="https://colab.research.google.com/github/adari-git1/Spark_projects/blob/main/flight_data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.4)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder.appName("flight_session").getOrCreate()

In [ ]:
data=spark.read.option("header",True).csv("/content/2015-summary.csv")

In [ ]:
data.count()

256

In [ ]:
data.createOrReplaceTempView("Mytable")

In [ ]:
spark.sql(
    'select int(sum(`count`)) as total_flights from Mytable'
).show()

+-------------+
|total_flights|
+-------------+
|       453316|
+-------------+

In [ ]:
spark.sql(
    '''select * from Mytable
    order by count desc
    limit 1
    '''
).show()

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|        The Bahamas|  986|
+-----------------+-------------------+-----+

In [ ]:
spark.sql(
    '''select * from Mytable
    where DEST_COUNTRY_NAME='The Bahamas'
    '''
).show()

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|      The Bahamas|      United States|  955|
+-----------------+-------------------+-----+

In [ ]:
spark.sql('select  a.DEST_COUNTRY_NAME,a.ORIGIN_COUNTRY_NAME,int(a.count+b.count)as total_between_them from Mytable a join Mytable b on a.DEST_COUNTRY_NAME=b.ORIGIN_COUNTRY_NAME and b.DEST_COUNTRY_NAME=a.ORIGIN_COUNTRY_NAME').show(50)

+--------------------+--------------------+------------------+
|   DEST_COUNTRY_NAME| ORIGIN_COUNTRY_NAME|total_between_them|
+--------------------+--------------------+------------------+
|       United States|             Romania|                29|
|       United States|             Croatia|                 3|
|       United States|             Ireland|               679|
|               Egypt|       United States|                27|
|       United States|               India|               123|
|       United States|           Singapore|                 4|
|       United States|             Grenada|               115|
|          Costa Rica|       United States|              1196|
|             Senegal|       United States|                82|
|       United States|        Sint Maarten|               650|
|       United States|    Marshall Islands|                81|
|              Guyana|       United States|               127|
|               Malta|       United States|                 3|
|            Anguilla|       United States|                79|
|             Bolivia|       United States|                43|
|       United States|            Paraguay|                66|
|Turks and Caicos ...|       United States|               466|
|               Italy|       United States|               820|
|       United States|Federated States ...|               138|
|       United States|              Russia|               337|
|            Pakistan|       United States|                24|
|       United States|         Netherlands|              1436|
|             Iceland|       United States|               383|
|    Marshall Islands|       United States|                81|
|          Luxembourg|       United States|               289|
|            Honduras|       United States|               769|
|         The Bahamas|       United States|              1941|
|       United States|             Senegal|                82|
|         El Salvador|       United States|              1069|
|               Samoa|       United States|                50|
|       United States|              Angola|                28|
|         Switzerland|       United States|               599|
|       United States|            Anguilla|                79|
|        Sint Maarten|       United States|               650|
|           Hong Kong|       United States|               746|
| Trinidad and Tobago|       United States|               428|
|              Latvia|       United States|                34|
|       United States|             Ecuador|               568|
|            Suriname|       United States|                35|
|              Mexico|       United States|             14327|
|       United States|              Cyprus|                 2|
|             Ecuador|       United States|               568|
|       United States|            Portugal|               261|
|       United States|          Costa Rica|              1196|
|       United States|           Guatemala|               715|
|       United States|            Suriname|                35|
|            Colombia|       United States|              1740|
|       United States|          Cape Verde|                34|
|       United States|             Jamaica|              1378|
|              Norway|       United States|               236|
+--------------------+--------------------+------------------+
only showing top 50 rows